/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    max-width: 100%;
    padding: 0 0.5em;
}

/*
#sg-patterns {
    margin-left: 8.49057%;
    margin-right: 8.49057%;
}

@media only screen and (min-width: 480px) {
    #sg-patterns {
        margin-left: 6.33803%;
        margin-right: 6.33803%;
    }
}

@media (min-width: 840px) {
    #sg-patterns {
        margin-left: 12.61682%;
        margin-right: 12.61682%;
    }
}

@media (min-width: 1600px) {
    #sg-patterns {
        margin-left: 8.41121%;
        margin-right: 8.41121%;
    }
}*/

.demo-animate {
    background: #ddd;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.sg-colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.sg-colors li {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.sg-swatch {
    display: block;
    height: 4em;
    margin-bottom: 0.3em;
    border-radius: 5px;
}

.sg-label {
    font-size: 90%;
    line-height: 1;
}

/* Fonts */
.montserrat-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.montserrat-semibold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
    /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.hind-regular {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.hind-semibold {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
    /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
